
  <h3>What Would You Like To Change?</h3>

  <form action="/portfolios/<%= @portfolio.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <div class="form-line">
      <label for="portfolio_name">Name of your portfolio </label>
      <input type="text" name="portfolio_name" value="<%= @portfolio.portfolio_name %>">
    </div>

    <div class="form-line">
      <label for="portfolio_description">A short description of your portfolio </label>
      <input type="text" name="portfolio_description" value="<%= @portfolio.portfolio_description %>">
    </div>

    <div class="form-line">
      <label for="goal">Your goal. You want to...? </label>
      <textarea name="goal" cols="30" rows="5"><%= @portfolio.goal %></textarea>
    </div>

    <div class="form-line">
      <label for="current_age">Current age </label>
      <input type="number" name="current_age" min="0" max="100" step="1" value="<%= @portfolio.current_age %>" >
    </div>

    <div class="form-line">
      <label for="ideal_completion_age">Your estimated age when you complete your goal </label>
      <input type="number" name="ideal_completion_age" min="0" max="100" step="1"  value="<%= @portfolio.ideal_completion_age %>">
    </div>

    <div class="form-line">
      <label for="ideal_completion_amount">How much money would you like to have? </label>
      <span>&#36;</span><input type="number" name="ideal_completion_amount" min="0" max="any" step=".01" value="<%= @portfolio.ideal_completion_amount %>">
    </div>

    <div class="form-line">
      <label for="gross_monthly_income">How much are you currently making per month before tax? </label>
      <span>&#36;</span><input type="number" name="gross_monthly_income" min="0" max="any" step=".01" value="<%= @portfolio.gross_monthly_income %>">
    </div>

    <div class="form-line">
      <label for="gross_monthly_exp">How much are you spending per month including taxes, healthcare, food, etc..? </label>
      <span>&#36;</span><input type="number" name="gross_monthly_exp"min="0" max="any" step=".01" value="<%= @portfolio.gross_monthly_exp %>">
    </div>

    <div class="form-line">
      <label for="monthly_addition_to_portfolio">How much money will you put towards your portfolio per month?</label>
      <span>&#36;</span><input type="number" name="monthly_addition_to_portfolio" min="0" max="any" step=".01" value="<%= @portfolio.monthly_addition_to_portfolio %>">
    </div>

    <div class="form-line">
      <label for="current_savings">How much do you currently have saved up for this goal? </label>
      <span>&#36;</span><input type="number" name="current_savings" min="0" max="any" step=".01" value="<%= @portfolio.current_savings %>">
    </div>

    <div class="form-line">
      <label for="estimated_growth_rate">What is the estimated yearly growth rate of your portfolio? </label>
      <span>&#37;</span><input type="number" name="estimated_growth_rate" min="0" max="100" step=".01" value="<%= @portfolio.estimated_growth_rate %>">
    </div>

    <div class="form-line">
      <label for="share_goal">Would you like to share your goal with our community?
      </label>

      <br>

      <label>
        <input type="radio" name="share_goal" value="true"checked /> <span>Yes</span> <br>
      </label>

      <label>
        <input type="radio" name="share_goal" value="false" />
        <span>No</span>
      </label>
    </div>

    <input type="submit" value="Submit" class="waves-effect waves-light btn">

  </form>
