<h1>Welcome, <%= @user.first_name %> </h1>
<h3>See what other's are saving for!</h3>
<% @portfolios.each do |portfolio| %>
<ul>
  <li> <%= @all_users.find(portfolio.user_id).first_name%> wants to: <%= portfolio.goal.downcase %></li>
</ul>
<% end %>
<p><a href="/portfolios/allgoals">View more</a></p>

<h3>Your Portfolios</h3>
<% @user.portfolios.each do |portfolio|%>
<a href="/portfolios/<%= portfolio.id %>"> <%= portfolio.portfolio_name %> </a>
<% end %>


<p><a href="/portfolios/new">Create a new portfolio</a></p>
